.login {
  .content-login {
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    overflow: hidden;

    .content-form {
      height: 100%;
      .form-login {
        height: 100%;
        justify-content: center;
        .content-form-login {
          height: 90vh;
        }
      }
      .logo {
        width: 200px;
      }
    }

    .content-background {
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
